body {
    background-color: #f4f4f9;
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #ffb81c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.tabela-dados {
    background-color: #ffffff;
    border: 2px solid #ff6600;
    width: 80%;
}

.tabela-dados th {
    background-color: #ff6600;
    color: #ffffff;
}

.tabela-dados td {
    background-color: #fef0e6;
    color: #333333;
}

.tabela-form {
    background-color: #ffffff;
    border: 2px solid #333333;
    color: #333333;
    width: 90%;
}

.form-header {
    background-color: #333333;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}



.dica {
    color: #777777;
    font-size: 14px;
}
